*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;}
body{
    background-color: #E6E7EF!important;
}
.TodoList{
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.AddButton{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.AddButton Button {
    width: 100px;
    background-color: rgba(164, 213, 255, 0.4);
}
.AddButton Button :hover{
    width: 100px;
    background-color: #2a593f;
}

@media only screen and (min-width: 800px) {
    .AddButton{
        position: absolute;
        margin-left: 20px;
        font-size: 18px;
    }

}