.TodoItems{
    margin-top: 10px;
    display: flex !important;
    justify-content: space-between;
    height: 55px;
    align-items: center;
    padding: 8px;
    background-color: #f3efed;
    border-radius: 5px;
    border: none;
}
.TodoItems:hover{
    opacity: .7;
}
p{
    margin-bottom: 0;
}




