.Container{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}
.todoCard {
    margin: 10px;
    padding-top: 0;
    color: #DFCCF0;
    width: 85vw;
}
h1{
    margin: 0;
}
.Title{
    margin-top: 5px;
    padding: 10px;
    background-color: #0e3750;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    color: rgba(229, 198, 198, 0.96)
}
.name{
background-color: #e9ebee;
    width: 348px;
}
.name:hover {
    border-bottom: 5px solid #0e3721;
    height: 45px;
    width: 55vw;
    transition: ease 0.5s;
}
.FormBox{
    background-color: white;
    box-shadow: 1px 1px 5px 5px #888888;
    margin: 15px;
    padding: 10px;
}
.formEntry {
    display: block;
    margin: 4px auto;
    padding: 8px;
    border-radius: 2px;
    border: 1px solid #d3bbbb;
    transition: all 0.5s ease 0s;
    width: 50vw;
}
.add {
    width: 150px ;
    color: white;
    background-color: #0e3721;
    font-size: 20px;
}
.add:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    transform: translateY(-3px);
    width: 180px;
    border-top: 5px solid #0e3750;
    border-radius: 5%;
}