.itemsContainer {
    background-color: white;
    position: relative;
}

.itemsBox {
    min-height: 200px;
}

.todoItems {
    margin-top: 10px;
    display: flex !important;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 8px;
    background-color: #ffffff;
    border-radius: 5px;
    border-bottom: 1px solid #d8e1e1;
}

.items {
    display: flex;
    align-items: center;
}

p {
    margin-bottom: 0;
}

.deleteIcon {
    cursor: pointer;
}

.filterButtons {
    display: flex;
    justify-content: center;
}

.itemsRemain {
    position: absolute;
    left: 10px;
    bottom: 45px;
    color: #6c6c8c;
}